pillow>=6.2.3
sploitkit
tinyscript>=1.22.4
markdown2>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
